body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}

.buttonBox {
    border-bottom: 2px solid darkgrey;
    }

.Btn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }

.selectedCity {
    border: 1px solid black;
  }

.day {
    background-color: darkblue;
    border: 1px solid black;
    color: white;
  }

.forecast {
    display: flex;
    gap: 5px;

}
.futureForecast {
    width: 100vw;

}

